#content {
    margin: 0 auto;
    width: 900px; 
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#headline   
{
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}
p {
    font-family: helvetica, arial,sans-serif;
    font-size: 12px; 
}
.captionedimage {
    margin-top: 13px;
    width: 100%;
}
.captionedimage img {
    width: 100%;
}
.captionedimage p {
    margin-top: 0;
}

.captionedimage h4 {
    font-weight: 400;
    margin: 0;
}
.captionedimage h2 {
    margin-bottom: 0;
}
blockquote {
font-size: 28px;
}